html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;

  /* prevent browser auto resizing with font-size */
  -webkit-text-size-adjust: none; /*Chrome, Safari, newer versions of Opera*/
  -moz-text-size-adjust: none; /*Firefox*/
  -ms-text-size-adjust: none; /*Ie*/
  -o-text-size-adjust: none; /*old versions of Opera*/
}

input:focus {
  outline: none;
}

table {
  border-collapse: collapse;
  border-radius: 6px;
}

th,
td {
  padding: 0.5em 1em;
}

table,
tr,
td,
th {
  border-radius: 6px;
  border: 1px solid #555;
}

textarea:focus {
  outline: none;
}

input:focus {
  outline: none;
}
